/* CSS declarations go here */
html {
  font-family: "Andale Mono", monospace;
}

body {
  background-color: #d81b60;
  background-image: linear-gradient(to bottom, #d81b60, #f8bbd0 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

header {
  background: #f48fb1;
  background-image: linear-gradient(to bottom, #f48fb1, #fce4ec 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  display: inline-block;
  margin-right: 1em;
}

p {
  margin-top: 0px;
}

.count-circle {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: #880e4f;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  float: right;
}

.count-text {
  display: flex;
  color: white;
  height: 25px;
  width: 50px;
  align-items: center;
  justify-content: center;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 15px 0;
  background: transparent;
  border: none;
  width: 60%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

.checked {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: none;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

label {
  color: #ad1457;
}

::-webkit-input-placeholder {
   color: #ff80ab;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ff80ab;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ff80ab;
}

:-ms-input-placeholder {
   color: #ff80ab;
}
