<head>
  <title>Welcome!</title>
  <link rel="stylesheet" type="text/css" href="css/simple-todos-angular.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <script type="text/javascript" src="js/simple-todos-angular.js"></script>

  <div class="container"
     ng-app="simple-todos"
     ng-controller="TodosListCtrl">

     <header>
           <h1>Simple Todos</h1>
           <div class="count-circle">
             <div class="count-text">{{ incompleteCount() }}</div>
           </div>

        <div class="col s2">
        <!-- add a form below the h1 -->
          <form class="new-task"
                ng-submit="addTask(newTask); newTask='';">
            <input ng-model="newTask" type="text"
                   name="text" placeholder="Insert a new task and press enter"/>
          </form>
       </div>
       <div class="col s1">
         <label class="hide-completed">
           <input type="checkbox" ng-model="hideCompleted"/>
           Hide Completed Tasks
         </label>
       </div>

    </header>

    <ul>
      <li ng-repeat="task in tasks">
        <input type="checkbox" ng-model="task.checked" class="toggle-checked"/>
        <span class="text" ng-class="{checked: task.checked}">{{task.text}}</span>
        <button class="material-icons delete" ng-click="tasks.remove(task)">delete</button>
      </li>
    </ul>

   </div>

</body>
